@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-700: #374151;
    --gray-900: #111827;
    --orange-500: #f97316;
    --red-500: #ef4444;
    --green-500: #22c55e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

/* Default */

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 16px;
    padding-right: 16px; */
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--gray-700);
}

/* Navbar */

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--gray-100);
    z-index: 10;
}

.nav-box{
    display: flex;
    column-gap: 36px;
    /* justify-content: space-between; */
    /* background-color: #374151; */
    padding: 12px 24px;
}

.nav-box .logo{
    height: 48px;
}
.nav-box .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #22c55e; */
}

.menu-box ul{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 18px;
    font-weight: 500;
}
.menu-box .menu-left li a{
    transition: color 0.25s linear;
}
.menu-box .menu-left li a:hover{
    color: var(--orange-500);
}

#menu-btn,
#phone-btn,
#search-btn,
#cart-btn,
#login-btn{
    cursor: pointer;
}

#menu-btn{
    display: none;
}

@media (max-width: 992px) {
    #menu-btn{
        display: block;
    }
    .menu-box .menu-left li:not(#menu-btn){
        display: none;
    }
}
@media (max-width: 576px) {
    .nav-box .logo{
        display: none;
    }
    .menu-box .menu-right{
        column-gap: 16px;
        font-size: 16px;
    }
}

/* left menu */

.overlay-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.3);
}
.left-menu{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 250px;
    height: 100%;
    padding: 16px;
    background-color: var(--gray-900);
}
.left-menu .logo2{
    width: 46px;
    height: 48px;
}
.left-menu .logo2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-menu div{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.left-menu div a{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-100);
    transition: color 0.25s linear;
}
.left-menu div a:hover{
    color: var(--orange-500);
}

/* search box */

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 16px 0;
    background-color: var(--red-500);
    z-index: 20;
    
}
.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    background-color: var(--gray-100);
    padding: 8px 12px;
    border: 1px solid var(--gray-900);
    border-radius: 4px;
}
.search-input input{
    width: 320px;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-box .close-search{
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--gray-100);
    cursor: pointer;
}
.search-box .close-search:hover{
    background-color: var(--gray-200);
}

/* form login */

.overlay-login{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 0 0 / 0.3);
}
.form-login{
    width: 384px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    padding: 24px 20px;
    background-color: var(--gray-100);
    border-radius: 4px;
    text-align: center;
}
.form-login #close-form{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 4px 8px;
    color: var(--gray-700);
    background-color: var(--gray-200);
    cursor: pointer;
    transition: color 0.25s linear;
}
.form-login #close-form:hover{
    color: var(--red-500);
}
.form-login h3{
    font-size: 18px;
    font-weight: 600;
}
.form-login h4{
    font-size: 16px;
    font-weight: 600;
}

.form-login form div label{
    display: block;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

.form-login form div input[type="text"],
.form-login form div input[type="password"],
.form-login form input[type="submit"]{
    width: 100%;
    font-size: 17px;
    padding: 8px 12px;
    margin-top: 4px;
    border: 1px solid var(--gray-700);
    border-radius: 4px;
    outline: none;
}

.form-login form input[type="submit"]{
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.25s linear;
}

.form-login form input[type="submit"]:hover{
    color: var(--gray-100);
    background-color: var(--green-500);
}