@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #64748b;
    --gray-600: #475569;
    --gray-700: #374151;
    --gray-900: #111827;
    --gray-950: #030712;
    --orange-500: #f97316;
    --red-500: #ef4444;
    --green-500: #22c55e;
    --border: 1px solid var(--gray-400);
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --shadow: 0 0 3px var(--gray-700);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--gray-700);
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    padding: 12px 24px;
    box-shadow: 0 0 6px var(--gray-700);
    background-color: var(--gray-100);
    z-index: 10;
}

.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: none;
    height: 48px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menu-btn{
    font-size: 20px;
    cursor: pointer;
}

.menu-left{
    display: none;
    align-items: center;
    column-gap: 20px;
    margin-right: auto;
    margin-left: 20px;
}
.menu-left li a{
    transition: color .2s linear;
}
.menu-left li a:hover{
    color: var(--orange-500);
}

.menu-right{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.menu-right li{
    padding: 4px 8px;
    /* border-radius: var(--radius-6); */
    cursor: pointer;
}

.menu-right li.active{
    color: var(--gray-100);
    background-color: #f59e0b;
}

#cart-btn{
    position: relative;
}

#phone-btn{
    display: none;
}

@media (min-width: 768px) {
    .logo,
    #phone-btn{
        display: block;
    }
    #menu-btn{
        display: none;
    }
    .menu-left{
        display: flex;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 24px;
    background-color: var(--gray-900);
    transition: left .25s linear;
    z-index: 20;
}
.sidebar-logo{
    width: 46px;
    height: 48px;
}

.sidebar-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 8px;
    border-top: 1px solid var(--gray-700);
}

.sidebar-menu a{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-400);
    
    transition: color .2s linear;
}
.sidebar-menu a:hover{
    color: var(--gray-100);
}

.cart-box{
    display: none;
    position: absolute;
    top: 150%;
    right: 0;
    width: 300px;
    height: auto;
    padding: 16px;
    border: var(--border);
    border-radius: var(--radius-8);
    background-color: var(--gray-100);
    z-index: 20;
}
.cart-box.active {
    display: block;
    animation: fade 0.3s linear;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    padding: 8px;
    border: var(--border);
    border-radius: 6px;
    color: var(--gray-700);
    background-color: var(--gray-50);
    transition: border .2s linear;
}

.cart:hover{
    border: 1px solid var(--orange-500);
}

.cart .cart-item{
    display: flex;
    gap: 12px;
}
.cart .delete-cart{
    font-size: 16px;
    transition: .3s;
}
.cart .delete-cart:hover{
    color: var(--red-500);
}
.cart .cart-item .cart-img{
    width: 50px;
    height: 50px;
}
.cart .cart-item .cart-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart .cart-item div > .cart-name,
.cart .cart-item div > .cart-qty{
    font-size: 16px;
    line-height: 24px;
}

.search{
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 16px 0;
    background-color: var(--gray-100);
    z-index: 20;
    animation: fade .3s linear;
}

.search.active{
    display: flex;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    background-color: var(--gray-100);
    padding: 8px 16px;
    border: var(--border);
    border-radius: var(--radius-8);
}

.search-box input{
    width: 320px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search .close-search-btn{
    font-size: 20px;
    color: var(--gray-700);
    cursor: pointer;
}




.form-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0 / 0.4);
    animation: fade 0.3s linear;
}

.form-login.active{
    display: flex;
}

.login-box{
    position: relative;
    width: 360px;
    height: auto;
    padding: 24px;
    border-radius: var(--radius-8);
    text-align: center;
    border: var(--border);
    background-color: var(--gray-100);
}

#close-form-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 4px 8px;
    color: var(--gray-700);
    cursor: pointer;
}

#close-form-btn:hover{
    color: var(--red-500);
}

.login-box h3{
    font-size: 18px;
    font-weight: 600;
}

.login-box h4{
    font-size: 16px;
    font-weight: 600;
}

form div label{
    display: block;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

form div input[type="text"],
form div input[type="password"],
form input[type="submit"]{
    width: 100%;
    font-size: 17px;
    padding: 8px 16px;
    margin-top: 4px;
    border: var(--border);
    border-radius: var(--radius-8);
    outline: none;
}

form input[type="submit"]{
    margin-top: 16px;
    color: var(--gray-700);
    background-color: var(--gray-200);
    transition: .3s;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: var(--gray-300);
}

@media (max-width: 576px) {
    .login-box{
        width: 80%;
    }
}

@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}




.heading{
    text-align: center;
    margin-top: 20px;
}

.product-box{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4px;
    margin: 24px 0;
}

.product{
    text-align: center;
    padding: 16px;
    /* border: var(--border); */
    box-shadow: 1px 1px var(--gray-700);
    background-color: var(--gray-50);
}

.product-img{
    width: 100%;
    height: 192px;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name{
    font-size: 14px;
    /* font-weight: 400; */
    margin: 4px;
}

.price-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    margin-top: 8px;
}

.price-cents{
    text-decoration: line-through;
    color: var(--orange-500);
}

.price-cents-discount{
    color: var(--green-500);
}

.product-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

.product-qty{
    width: 100px;
    font-size: 16px;
    padding: 8px 18px;
    border: var(--border);
    border-radius: 6px;
    outline: none;
    background-color: var(--gray-50);
}

.btn{
    display: inline-block;
    font-size: 14px;
    padding: 4px 12px;
    border: 1px solid var(--gray-400);
    cursor: pointer;
    transition: background-color .3s linear;
}
.btn:hover{
    background-color: var(--gray-300);
}

@media (min-width: 768px) {
    .product-box{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 16px;
        margin: 20px 16px;
    }
    .product{
        text-align: center;
        padding: 16px;
        border: var(--border);
        box-shadow: none;
    }
    .product-img{
        width: 100%;
        height: 256px;
    }
    .product-name{
        font-size: 16px;
        font-weight: 400;
    }
    .price-box{
        gap: 16px;
        font-size: 16px;
        margin-top: 12px;
    }
}

@media (min-width: 992px) {
    .product-box{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.overlay-detail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0 0 0 / 0.4);
}

.detail-box{
    height: 500px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #ddd;
}

.preview-img{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #999;
    padding: 12px;
}
.preview-img .img-box{
    width: 100%;
    height: 320px;
}
.preview-img .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview-img .img-list{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}
.preview-img .img-list img{
    cursor: pointer;
}

.desc{
    width: 400px;
    height: 100%;
    padding: 12px;
    border: 2px solid #999;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .detail-box{
        height: 90vh;
        flex-direction: column;
        margin: 0 20px;
        overflow-y: scroll;
    }
    .preview-img{
        height: auto;
    }
    .desc{
        height: auto;
        overflow-y: visible;
    }
}

.more-btn{
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid red;
    /* color: white; */
    background-color: red;
    cursor: pointer;
}